@model IEnumerable<TimeMate.Models.Permission>

@{
    ViewData["Title"] = "Permission Index";
}
@{

    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Layouts/_AdminLayout.cshtml";
    }
    else if (User.IsInRole("Employee"))
    {
        Layout = "~/Views/Layouts/_EmployeeLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Layouts/_ManagerLayout.cshtml";
    }
}
<h1>Index</h1>

<p>
    <a asp-action="PermissionCreate">New Request</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="PermissionEdit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="PermissionDetails" asp-route-id="@item.Id">Details</a> |
                <a asp-action="PermissionDelete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
